body{
    font-family: 'Lato', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
.portfolio_site{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 7%;
    padding-right: 7%;
}
.half-width img{
    width: 90%;
}

.half-width p{
    margin-bottom: 7%;
}
.hire-btn{
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(orange, salmon);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px grey;
    margin-left: 8%;
    margin-right: 8%;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
   
}
#pro{
    border-left: 8px solid ;
    border-image: linear-gradient(orange, salmon);
    border-image-slice: 1;
    border-radius: 5px;
}
#baby{
    border-left: 8px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 20px;
}
footer p{
    text-align: center;
}