body{
    font-family: 'Lato', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
.portfolio_site{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 7%;
    padding-right: 7%;
}
.half-width img{
    width: 90%;
}

.half-width p{
    margin-bottom: 7%;
}
.hire-btn{
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(orange, salmon);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}